/* app css stylesheet */
body{
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: #555555;
}
.menu {
  list-style: none;
  display : inline-list-item;
  margin-bottom: 2em;
  padding: 0 0 0.5em;


}


.menu:before {
  content: "[";

}

.menu:after {
  content: "]";
}

.menu > li {
  display : inline-list-item;

}


.menu > li + li:before {
  content: "|";
  padding-right: 0.3em;
}

.dropdown{
  margin-bottom: 2em;
  margin-left: 2em;
  margin-top: 2em;

}
.dropdown-item{

  background-color: #888888;
}