<div ng-controller="View1Ctrl">
    <div class="main-block">
        <form>
            <h2><strong> Get Account By Id</strong></h2>
            Account Id: <input ng-model="accountIdField" name="accountIdField" type="text"/>
            <button type="submit" value="[ Load Account ]" ng-click="getAccountById()">[ Load Account ]</button>
            <br/>
            <br/>

            <div id="errorMsgDiv" style="display:none"></div>
            <div>
                <table id="accountDataTable">
                    <tr>
                        <td><b>Account number: </b></td>
                        <td name="account_number">{{accResponse.account_number}}</td>
                        <td width="5%"></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td><b>Ballance:</b></td>
                        <td>{{accResponse.ballance}} {{accResponse.currency}}</td>
                        <td width="5%">&nbsp</td>
                        <td></td>
                    </tr>

                    <tr>
                        <td colspan="4"> CARDS</td>
                    </tr>
                    <tr>
                        <td><b>Card Holder</b></td>
                        <td><b>Card Owner</b></td>
                        <td nowrap="true"><b>Expire Date</b></td>
                        <td></td>
                    </tr>
                    </tr>

                    <tr ng-repeat="oneCard in accResponse.cardDTOs track by $index">

                        <td>{{oneCard.card_holder}}</td>
                        <td>{{oneCard.card_number}}</td>
                        <td>{{oneCard.exp_date}}</td>
                        <td>
                            <div ng-click="removeCardFromAccount(card.id)">[ X ]</div>
                        </td>

                    </tr>


                </table>
            </div>

            <table class="accountInfo">
                <tr>
                    <td>ID</td>
                    <td><input readonly="true" ng-model="accountId" name="accountId"></td>
                </tr>
                <tr>
                    <td>Account Number</td>
                    <td><input ng-model="accountNumber" name="accountNumber" maxlength="21"></td>
                </tr>
                <tr>
                    <td>Balance</td>
                    <td><input ng-model="ballance" name="ballance"></td>
                </tr>
                <tr>
                    <td>Currency</td>
                    <td>
                        <select ng-model="currency" name="currency">

                            <option value="EUR">EUR</option>
                            <option value="USD">USD</option>
                            <option value="RUB">RUB</option>
                            <option value="NOK">NOK</option>
                            <option value="GBP">GBP</option>
                            <option value="PLZ">PLZ</option>
                            <option value="CHF">CHF</option>
                        </select>
                    </td>
                </tr>
                </tr>
                <tr>
                    <td></td>
                    <td>
                        <button type="submit" ng-click="updateAccount()">[ Save Account ]</button>
                    </td>
                </tr>
            </table>


        </form>
    </div>
</div>
